
.card {
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
  }

  .card-body__cb {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    min-height: 250px;
  }

  .tag {
    background: #cccccc;
    border-radius: 50px;
    font-size: 12px;
    margin: 0;
    color: #fff;
    padding: 2px 10px;
    text-transform: uppercase;
    cursor: pointer;
  }

  .tag-teal {
    background-color: #47bcd4;
  }

  .tag-purple {
    background-color: #bf5e9f;
  }